# Ignore compiled binaries
*.exe
*.dll

# Ignore log files
*.log
*.vsidx

# Ignore configuration files with sensitive information
config.ini

# Ignore directories
/node_modules
/build
/JSProject/JSProject.csproj
